{% extends 'base.html' %}

{% block content %}
<div class="menu"> <a href="./">home</a> | <a href="./test">test</a> | <a href="./auth">auth</a> | chat | <a href="./links">links</a></div>
<br />
<h2>simple public chat | guestbook</h2>
<br />

<img src="{{url_for('static', filename='si.png')}}" align="middle" />
<br /><br />
<div class="small">
{% for msg in msg_list %}
{{ msg }}<br />
{% endfor %} 
</div>

<br /><br />

<div class="pad22">
<form method="POST">
  <label for="fname">Nick:</label><br />
  <input type="text" name="nick" value="{{ form_nick }}"><br /><br />
  <label for="lname">Message:</label><br />
  <input type="text" name="msg" value=" "><br /><br /><br />
  <input type="submit" value="> Submit <">
</form> 
</div>

<br /><br />
<img src="{{url_for('static', filename='bg_cyber.png')}}" width="638"/>
<br />

{% endblock %}
