{% extends 'base.html' %}

{% block content %}
<!-- menu -->
<div class="menu">home | <a href="./test">test</a> | <a href="./auth">auth</a> | <a href="./chat">chat</a> | <a href="./links">links</a></div>

<br />
<h3>what & why?</h3>
<div class="borsh pad8">
Lorem ipsum dolor sit amet, consectetur adipisici elit, sed eiusmod tempor incidunt ut labore et dolore magna aliqua. 
Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquid ex ea commodi consequat. 
Quis aute iure reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
<br />  ... <br /> 
</div>
<br />
<pre>
                _,-"-._
       _,-'`-._|-._9_,-|_,-'-._
      |`-._    |   |   |    _,-|
      |    `-._|   |   |_,-'   |
      `-._ _,-' `-.|_,-'`-.__.-'
       _,-'    _,-'|`-._    `-._
      |`-.__.-'    |    `-._ _,-|
      | 6 |    _,-'|`-._    | 3 |
      `-._|_,-'|   |   |`-._|_.-'
               `-._|_,-' New Reality

</pre> 


<h3>secret codes:</h3>

<s>xvksejzzh6h3j7avpu6zwj3p3kajvnkvaioheu6r6hs7hlljsj3tf4id.onion</s><br />
(link no longer used today)<br />
<br />
"agama3" | sha256sum<br /> 
77ca763f669f42b8ddd4f92f8930f5d176f98c7fdbfab0beb718cfc2a632de38<br /> 
"agama3" -n | sha256sum<br /> 
a75411644fe58f02342ee0f2206fd52fc2a42ae1fc2f0b743b2d785ffd9548b0<br />
<br />

<h3>last visited page</h3>
{{ last }}<br />
.:.:.
<br />

{% endblock %}
