{% extends 'base.html' %}

{% block content %}

<div class="menu"><a href="./">home</a> | <a href="./test">test</a> | <a href="./page3">page3</a> | <a href="./chat">chat</a> | links </div>
<br />
<h2>links.onion</h2>

<a href="https://duckduckgogg42xjoc72x3sjasowoarfbgcmvfimaftt6twagswzczad.onion/">DuckDuck</a><br />
<a href="http://darkzzx4avcsuofgfez5zq75cqc4mprjvfqywo45dfcaxrwqg6qrlfid.onion/">DarkNet Live</a><br />
<a href="http://zqktlwiuavvvqqt4ybvgvi7tyo4hjl5xgfuvpdf6otjiycgwqbym2qad.onion/wiki/index.php/Main_Page">Onion Wiki</a><br />
<a href="http://paavlaytlfsqyvkg3yqj7hflfg5jw2jdg2fgkza5ruf6lplwseeqtvyd.onion/">The Hidden Wiki</a><br />
<a href="http://2jwcnprqbugvyi6ok2h2h7u26qc6j5wxm7feh3znlh2qu3h6hjld4kyd.onion/">Yet Another Hidden Wiki</a><br />
<a href="http://6hasakffvppilxgehrswmffqurlcjjjhd76jgvaqmsg6ul25s7t3rzyd.onion/">Bitcoin core</a><br /> 
<a href="http://lldan5gahapx5k7iafb3s4ikijc4ni7gx5iywdflkba5y2ezyg6sjgyd.onion/">OnionShare</a><br />
<a href="http://s4k4ceiapwwgcm3mkb6e4diqecpo7kvdnfr5gg7sph7jjppqkvwwqtyd.onion/">OnionLinks v3</a><br />
<a href="http://jgwe5cjqdbyvudjqskaajbfibfewew4pndx52dye7ug3mt3jimmktkid.onion/">Pug's Ultimate Guide</a><br />
<a href="http://onionwsoiu53xre32jwve7euacadvhprq2jytfttb55hrbo3execodad.onion/">The Onion Web</a><hr />
<br />
<a href="http://libraryfyuybp7oyidyya3ah5xvwgyx6weauoini7zyz555litmmumad.onion/">Just Another Library</a><br />
<a href="http://kx5thpx2olielkihfyo4jgjqfb7zx7wxr3sd4xzt26ochei4m6f7tayd.onion/">Imperial Library</a><br />
<a href="http://nv3x2jozywh63fkohn5mwp2d73vasusjixn3im3ueof52fmbjsigw6ad.onion/">Comic Book Library</a><br />
<a href="http://bible4u2lvhacg4b3to2e2veqpwmrc2c3tjf2wuuqiz332vlwmr4xbad.onion/">Bible4u</a><br />
<a href="http://g7ejphhubv5idbbu3hb3wawrs5adw7tkx7yjabnf65xtzztgg4hcsqqd.onion/">Hacking DEFCON</a><br />
<a href="http://ciadotgov4sjwlzihbbgxnqg3xiyrg7so2r2o3lt5wz5ypk4sxyjstad.onion/">CIAdorGOV</a><br />

<br />
<h2>Blogs And Personal Site</h2>

<a href="http://spywaredrcdg5krvjnukp3vbdwiqcv3zwbrcg6qh27kiwecm4qyfphid.onion/">SpyWare Watchdog</a><br />
<a href="http://fwfwqtpi2ofmehzdxe3e2htqfmhwfciwivpnsztv7dvpuamhr72ktlqd.onion/">Fuwa Fuwa</a><br />
<a href="http://agama3yltvo3apkzdsijri3tkrsx32ek5dun7tzqm6z53j6e54z7ejad.onion">Agama3</a><br />
<a href="http://potatoynwcg34xyodol6p6hvi5e4xelxdeowsl5t2daxywepub32y7yd.onion/">Potato | Go Beyond</a><br />
<a href="http://lpiyu33yusoalp5kh3f4hak2so2sjjvjw5ykyvu2dulzosgvuffq6sad.onion/">Tech Learnicg Collective</a><br />


<br />
{{ msg }}
<br />

{% endblock %}
